<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id='container'>
            <object type="application/x-shockwave-flash" id="SPFBIn_2072_player" name="SPFBIn_2072_player" align="middle" data="/static/player.swf" width="1" height="1">
                <param name="quality" value="high">
                <param name="allowscriptaccess" value="always">
                <param name="wmode" value="window">
                <param name="bgcolor" value="#2c2c2d">
                <param name="flashvars" value="playerType=FLASH_RTMPS&amp;valid=0&amp;id=SPFBIn_2072_player&amp;length=0&amp;instanceId=SPFBIn_2072&amp;logging=0">
            </object>
        </div>
    </body>
</html>